[Desktop Entry]
Type=Application
Name=Install Sloppinux
GenericName=System Installer
Comment=Install Sloppinux to disk
TryExec=calamares
Exec=/usr/local/bin/sloppinux-installer-autostart
Icon=/usr/share/pixmaps/sloppinux-logo.png
Terminal=false
Categories=System;
Keywords=calamares;install;installer;sloppinux;
StartupWMClass=calamares
